@import "mc-components/dist/styles/css/index";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

nav {
  display: flex;
}

nav > * {
  margin: 0;
  margin-right: 1em;
}

h2 {
  margin-bottom: 1.5rem;
}

hr {
  height: 1px;
  background: gray;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
